.spinSlow {
  animation-duration: 3s;
}

@keyframes fadeInOut {
  0%,
  20% {
    opacity: 1;
    transform: scale(1);
  }

  40% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}

.fadeInOut {
  animation: fadeInOut 3s infinite;
}

.delay0 {
  animation-delay: 0s;
}

.delay075 {
  animation-delay: 0.75s;
}

.delay15 {
  animation-delay: 1.5s;
}

.delay225 {
  animation-delay: 2.25s;
}
